.mainContainer {
  padding: var(--header-height, 80px) 1em 0;
  display: grid;
  position: relative;
  grid-template-columns: [content] 1fr;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  align-content: flex-start;

  @media screen and (min-width: 55em) {
    grid-template-columns: [navigation] var(--navigation-aside-width) [content] 1fr;
    column-gap: 1.5em;
  }
}

.gridContent {
  grid-area: content;
  flex: 1;
  margin-top: var(--navigation-dropdown-container-height);
  overflow-y: scroll;
  padding-bottom: 3em;
  min-height: calc(100vh - var(--header-height));

  @media screen and (min-width: 55em) {
    margin-top: var(--navigation-desktop-margin);
  }
}
